<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <scope
            class="org.eclipse.core.internal.resources.ProjectPreferences"
            name="org.bpy.score.rcp.preference.scope">
      </scope>
   </extension>
   <extension
         name="%rcp.preference_page.score"
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.General"
            class="org.bpy.score.preferences.ui.WorkbenchPreferencePage"
            id="org.bpy.score.rcp.preferences"
            name="%preferences.preference_page.score_sheet_tool">
      </page>
      <page
            category="org.bpy.score.rcp.preferences"
            class="org.bpy.score.preferences.ui.GraphicalPreferencePage"
            id="org.bpy.score.rcp.preferences.graphics"
            name="%preferences.preference_page.graphics">
      </page>
      <page
            category="org.bpy.score.rcp.preferences"
            class="org.bpy.score.preferences.ui.ControlPreferencePage"
            id="org.bpy.score.rcp.preferences.controls"
            name="%preferences.preference_page.controls">
      </page>
      <page
            category="org.bpy.score.rcp.preferences"
            class="org.bpy.score.preferences.ui.ReportPreferencePage"
            id="org.bpy.score.rcp.preference.reports"
            name="%preferences.preference_page.reports">
      </page>
      <page
            category="org.bpy.score.rcp.preference.reports"
            class="org.bpy.score.preferences.ui.GameReportPreferencePage"
            id="org.bpy.score.preference.reports.game"
            name="%preferences.preference_page.reports.game">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.bpy.score.preferences.ui.ReportPropertiesPage"
            id="org.bpy.score.propertries"
            name="%preferences.preference_page.reports">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
         <filter
               name="projectNature"
               value="org.bpy.score.rcp.projectNature">
         </filter>
      </page>
      <page
            category="org.bpy.score.propertries"
            class="org.bpy.score.preferences.ui.GameReportPreferencePage"
            id="org.bpy.score.property.reports.game"
            name="%preferences.preference_page.reports.game">
      </page>
   </extension>

</plugin>
