<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.bpy.score.rcp.projectNature"
         name="Scorekeeper Tool project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.bpy.score.rcp.ScoreProjectNature">
         </run>
      </runtime>
      <builder
            id="org.bpy.score.tool.project">
      </builder>
   </extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.bpy.score.rcp.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.bpy.score.rcp.application"
            name="Euroopean Scoring Tool For Baseball">
         <property
               name="appName"
               value="Euroopean Scoring Tool For Baseball">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <scope
            class="org.eclipse.core.internal.resources.ProjectPreferences"
            name="org.bpy.score.rcp.preference.scope">
      </scope>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.bpy.score.rcp.editor.GameMultipageEditor"
            default="true"
            extensions="game"
            id="org.bpy.score.rcp.editor1"
            name="Game editor and scoresheet view">
      </editor>
      <editor
            class="org.bpy.score.rcp.editor.ScoreSheetEditor"
            id="org.bpy.score.rcp.editor.ScoreSheetEditor"
            name="New EditorPart">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bpy.score.rcp.handler.NewChampionatHandler"
            commandId="org.bpy.score.rcp.command.new.championat">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.NewSeasonHandler"
            commandId="org.bpy.score.rcp.command.newseason">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.NewCategoryHandler"
            commandId="org.bpy.score.rcp.command.newcategory">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.NewGameHandler"
            commandId="org.bpy.score.rcp.command.newgame">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.NewClubHandler"
            commandId="org.bpy.score.rcp.handler.clubdescription">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.OpenFileHandler"
            commandId="org.bpy.score.rcp.handler.openfile">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.ExportAsPdfHandler"
            commandId="org.bpy.score.rcp.exportpdf">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.NewExampleProjectForScenarios"
            commandId="org.bpy.score.rcp.command.example.project.scenario">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.ShowViewConsoleHandler"
            commandId="org.bpy.score.rcp.menu.showview.console">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.ShowViewProblemHandler"
            commandId="org.bpy.score.rcp.menu.showview.problem">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.ShowViewVisitorSheetHandler"
            commandId="org.bpy.score.rcp.menu.showview.visitorsheet">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.ShowViewGeneralDisplayHandler"
            commandId="org.bpy.score.rcp.menu.showview.generaldisplay">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.ShowViewOccupationFieldHandler"
            commandId="org.bpy.score.rcp.menu.showview.occupationfield">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.ShowViewHometeamSheetHandler"
            commandId="org.bpy.score.rcp.menu.showview.hometeamsheet">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.ShowViewVisitorSheetHandler"
            commandId="org.bpy.score.rcp.menu.showview.visitorsheet">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.bpy.game.rcp.ui.navigator">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.GameReportGeneratorHandler"
            commandId="org.bpy.score.rcp.report.game">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.ImportStatCrewHtmlHandler"
            commandId="org.bpy.score.rcp.import.html">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.SearchMatchForTeamHandler"
            commandId="org.bpy.score.rcp.search.team">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.SearchMatchForDateHandler"
            commandId="org.bpy.score.rcp.search.date">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.ShowViewLineupHandler"
            commandId="org.bpy.score.rcp.menu.showview.lineupview">
      </handler>
      <handler
            class="org.bpy.score.rcp.handler.ShowOutlineViewHandler"
            commandId="org.bpy.score.rcp.menu.showview.outline">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.bpy.score.rcp.intro"
            content="introContent.xml"
            id="org.bpy.score.rcp.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.bpy.score.rcp.command.new.championat"
            name="%org.bpy.score.internationalization:rcp_new_tournament">
      </command>
      <command
            id="org.bpy.score.rcp.command.newseason"
            name="New season">
      </command>
      <command
            id="org.bpy.score.rcp.command.newcategory"
            name="Nouvelle catégorie">
      </command>
      <command
            defaultHandler="org.bpy.score.rcp.handler.NewClubHandler"
            id="org.bpy.score.rcp.command.clubdescription"
            name="New club">
      </command>
      <command
            id="org.bpy.score.rcp.command.newgame"
            name="Add a new game">
      </command>
      <!--<command
            defaultHandler="org.bpy.score.rcp.handler.NewProjectHandler"
            id="org.bpy.score.rcp.command.newproject"
            name="Project">
      </command>-->
      <command
            id="org.bpy.score.rcp.exportpdf"
            name="Export as PDF file">
      </command>
      <command
            id="org.bpy.score.rcp.command.example.project.scenario"
            name="Create sample project">
      </command>
      <command
            defaultHandler="org.bpy.score.rcp.handler.ExitHandler"
            id="org.bpy.score.rcp.command.exit"
            name="Quit">
      </command>
      <command
            id="org.bpy.score.rcp.menu.showview.console"
            name="Show console">
      </command>
      <command
            id="org.bpy.score.rcp.menu.showview.problem"
            name="Show problem">
      </command>
      <command
            id="org.bpy.score.rcp.menu.showview.visitorsheet"
            name="Show visitor score sheet">
      </command>
      <command
            id="org.bpy.score.rcp.menu.showview.hometeamsheet"
            name="Show hometeam score sheet">
      </command>
      <command
            id="org.bpy.score.rcp.menu.showview.occupationfield"
            name="Show occupation field">
      </command>
      <command
            id="org.bpy.score.rcp.menu.showview.generaldisplay"
            name="Show general display">
      </command>
      <command
            id="org.bpy.score.rcp.report.game"
            name="Generate game reports">
      </command>
      <command
            id="org.bpy.score.rcp.import.html"
            name="Import actions">
      </command>
      <command
            id="org.bpy.score.rcp.search.team"
            name="Seach games by teams">
      </command>
      <command
            id="org.bpy.score.rcp.search.date"
            name="Seaech games by date">
      </command>
      <command
            id="org.bpy.score.rcp.menu.showview.lineupview"
            name="Show line-up">
      </command>
      <command
            id="org.bpy.score.rcp.menu.showview.outline"
            name="Show outline">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.bpy.score.rcp.intro">
      </intro>
      <introProductBinding
            introId="org.bpy.score.rcp.intro"
            productId="org.bpy.score.rcp.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
               <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.bpy.score.rcp.menu.file"
               label="File">
            <menu
                  label="New">
               <!--<command
                     commandId="org.bpy.score.rcp.command.newproject"
                     label="Project"
                     style="push">
               </command>-->
               <command
                     commandId="org.bpy.score.rcp.command.new.championat"
                     icon="icons/tournament.png"
                     label="Nouveau championat"
                     style="push">
               </command>
               <command
                     commandId="org.bpy.score.rcp.command.newseason"
                     icon="icons/season.png"
                     label="New season"
                     style="push">
               </command>
               <command
                     commandId="org.bpy.score.rcp.command.newcategory"
                     icon="icons/category.png"
                     label="Nouvelle catégorie"
                     style="push">
               </command>
               <command
                     commandId="org.bpy.score.rcp.command.newgame"
                     label="New game"
                     style="push">
               </command>
               <command
                     commandId="org.bpy.score.rcp.command.clubdescription"
                     label="New club"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="org.bpy.score.rcp.command.openfile"
                  label="Open file"
                  style="push">
            </command>
            <separator
                  name="separator001"
                  visible="true">
            </separator>
            <command
                  commandId="org.bpy.score.rcp.exportpdf"
                  label="Export as PDF"
                  style="push">
            </command>
            <separator
                  name="separator002"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.openWorkspace"
                  style="push">
            </command>
            <separator
                  name="separator003"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  style="push">
            </command>
            <separator
                  name="org.bpy.score.rcp.separator1">
            </separator>
            <command
                  commandId="org.bpy.score.rcp.command.exit"
                  label="Quit"
                  style="push"
                  tooltip="Quit the application">
            </command>
         </menu>
         <menu
               id="org.bpy.score.rcp.menu.edit"
               label="Edition">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  style="push">
            </command>
            <separator
                  name="org.bpy.score.rcp.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="paste"
                  style="push">
            </command>
            <separator
                  name="org.bpy.score.rcp.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  label="Select all"
                  style="push">
            </command>
            <separator
                  name="org.bpy.score.rcp.separator3"
                  visible="true">
            </separator>
         </menu>
         <menu
               label="Recherche">
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  label="Trouver/Remplacer"
                  style="push">
            </command>
            <separator
                  name="org.bpy.score.rcp.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.bpy.score.rcp.search.team"
                  label="Rechercher les matchs d&apos;une équipe"
                  style="push">
            </command>
            <command
                  commandId="org.bpy.score.rcp.search.date"
                  label="Recherche par date"
                  style="push">
            </command>
            <command
                  commandId="org.bpy.score.rcp.search.official"
                  label="Rechercher un  match pour un officiel"
                  style="push">
            </command>
         </menu>
         <menu
               label="Rapports">
            <command
                  commandId="org.bpy.score.rcp.report.game"
                  label="Générer les rapports des matchs"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.bpy.score.rcp.menu.window"
               label="Window">
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  label="New window"
                  style="push">
            </command>
            <separator
                  name="org.bpy.score.rcp.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  label="Reset perspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.savePerspective"
                  label="Save perspective"
                  style="push">
            </command>
            <command
                  commandId="org.bpy.score.rcp.command3"
                  label="Restore perspective"
                  style="push">
            </command>
            <separator
                  name="org.bpy.score.rcp.separator1"
                  visible="true">
            </separator>
            <menu
                  id="org.bpy.score.rcp.menu.window.showview"
                  label="Show view">
               <command
                     commandId="org.bpy.score.rcp.menu.showview.console"
                     label="Console"
                     style="push">
               </command>
               <command
                     commandId="org.bpy.score.rcp.menu.showview.problem"
                     label="Problems"
                     style="push">
               </command>
               <separator
                     name="org.bpy.score.rcp.separator4"
                     visible="true">
               </separator>
               <command
                     commandId="org.bpy.score.rcp.menu.showview.generaldisplay"
                     label="General display"
                     style="push">
               </command>
               <command
                     commandId="org.bpy.score.rcp.menu.showview.occupationfield"
                     label="Occupation field"
                     style="push">
               </command>
               <command
                     commandId="org.bpy.score.rcp.menu.showview.visitorsheet"
                     label="Visitor sheet"
                     style="push">
               </command>
               <command
                     commandId="org.bpy.score.rcp.menu.showview.hometeamsheet"
                     label="Home team sheet"
                     style="push">
               </command>
               <command
                     commandId="org.bpy.score.rcp.menu.showview.lineupview"
                     label="Line-up"
                     style="push">
               </command>
               <command
                     commandId="org.bpy.score.rcp.menu.showview.outline"
                     label="Outline"
                     style="push">
               </command>
            </menu>
            <separator
                  name="org.bpy.score.rcp.separator2"
                  visible="true">
            </separator>
            <command
            	  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closePerspective"
                  label="Close perspective"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.bpy.score.rcp.menu.help"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.quickStartAction"
                  label="Welcome"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  label="Help contents"
                  style="push">
            </command>
            <separator
                  name="org.bpy.score.rcp.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About this tool"
                  style="push">
            </command>
         </menu>
         <toolbar
               id="org.bpy.score.rcp.toolbar2">
            <command
                  commandId="org.bpy.score.rcp.command.new.championat"
                  icon="icons/tournament.png"
                  label="Nouveau championat"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
         
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=new">
         <command
               commandId="org.bpy.score.rcp.command.new.championat"
               icon="icons/tournament.png"
               label="Nouveau championat"
               style="push">
         </command>
         <command
               commandId="org.bpy.score.rcp.command1"
               id="org.bpy.score.rcp.newseaason"
               label="Season"
               style="push">
         </command>
         <command
               commandId="org.bpy.score.rcp.command.newgame"
               label="Game"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.bpy.game.rcp.ui.navigator?after=additions">
         <separator
               name="org.bpy.score.rcp.separator1"
               visible="true">
         </separator>
         <menu
               label="New">
            <command
                  commandId="org.bpy.score.rcp.command.new.championat"
                  icon="icons/full/obj16/OpenTournamentFolder.png"
                  label="Tournament"
                  style="push">
            </command>
            <command
                  commandId="org.bpy.score.rcp.command.newseason"
                  icon="icons/full/obj16/SeasonFolder.png"
                  label="Season"
                  style="push">
            </command>
            <command
                  commandId="org.bpy.score.rcp.command.clubdescription"
                  icon="icons/full/obj16/club.png"
                  label="Club"
                  style="push">
            </command>
            <command
                  commandId="org.bpy.score.rcp.command.newgame"
                  icon="icons/full/obj16/game.png"
                  label="Game"
                  style="push">
            </command>
         </menu>
         <separator
               name="org.bpy.score.rcp.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               icon="icons/copy_edit.png"
               id="org.eclipse.ui.edit.copy"
               label="Copier"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               icon="icons/paste_edit.png"
               label="Coller"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               icon="icons/delete_edit.png"
               label="Supprimer"
               style="push">
         </command>
         <separator
               name="org.bpy.score.rcp.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.rename"
               label="Renommer"
               style="push">
         </command>
         <separator
               name="org.bpy.score.rcp.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.bpy.score.rcp.command1"
               icon="icons/refresh_nav.png"
               label="Rafraichir"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:common.new.menu?after=additions">
         <command
               commandId="org.bpy.score.rcp.command.new.championat"
               icon="icons/tournament.png"
               label="Nouveau championat"
               style="push">
         </command>
         <command
               commandId="org.bpy.score.rcp.command.newseason"
               icon="icons/season.png"
               label="New season"
               style="push">
         </command>
         <command
               commandId="org.bpy.score.rcp.command.newcategory"
               icon="icons/category.png"
               label="Nouvelle catégorie"
               style="push">
         </command>
         <command
               commandId="org.bpy.score.rcp.command.newgame"
               label="New game"
               style="push">
         </command>
         <command
               commandId="org.bpy.score.rcp.command.clubdescription"
               label="New club"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?endof=group.find">
         <command
               commandId="org.bpy.score.rcp.import.html"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.bpy.score.game.Game.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="ScoreKeeper perspective"
            class="org.bpy.score.rcp.intro.Perspective"
            id="org.bpy.score.rcp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.bpy.score.rcp.perspective">
 <!--        <view
               id="org.bpy.game.rcp.ui.navigator"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>-->
         <view
               closeable="true"
               id="org.bpy.score.rcp.view.FeildViewOccupation"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.bpy.score.rcp.view.GeneralDisplayPanelView"
               minimized="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.bpy.score.rcp.view.HometeamScoreSheetView"
               minimized="false"
               ratio="0.75"
               relationship="stack"
               relative="org.bpy.score.rcp.view.GeneralDisplayPanelView"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.bpy.score.rcp.view.VisitorGraphicalView"
               minimized="false"
               ratio="0.75"
               relationship="stack"
               relative="org.bpy.score.rcp.view.GeneralDisplayPanelView"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               ratio=".5"
               relationship="right"
               relative="org.bpy.score.rcp.view.GeneralStatisitcView"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
         <newWizardShortcut
               id="org.bpy.score.rcp.new.custom">
         </newWizardShortcut>
         <view
               closeable="false"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               relationship="bottom"
               relative="org.bpy.score.rcp.view.FeildViewOccupation"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.bpy.score.rcp.currentlineup.view"
               minimized="false"
               moveable="true"
               relationship="bottom"
               relative="org.bpy.score.rcp.view.FeildViewOccupation"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               moveable="true"
               ratio="0.90"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view> 
      </perspectiveExtension>
   </extension>
   <extension
         name="Score"
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.General"
            class="org.bpy.score.rcp.preferences.WorkbenchPreferencePage"
            id="org.bpy.score.rcp.preferences"
            name="ScoreSheet tool ">
      </page>
      <page
            category="org.bpy.score.rcp.preferences"
            class="org.bpy.score.rcp.preferences.GraphicalPreferencePage"
            id="org.bpy.score.rcp.preferences.graphics"
            name="Graphics">
      </page>
      <page
            category="org.bpy.score.rcp.preferences"
            class="org.bpy.score.rcp.preferences.ControlPreferencePage"
            id="org.bpy.score.rcp.preferences.controls"
            name="Controls">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="org.bpy.score.rcp.view.season"
            name="Tournament manager">
      </view>
      <view
            class="org.bpy.score.rcp.view.FieldViewOccupation"
            id="org.bpy.score.rcp.view.FeildViewOccupation"
            name="Field occupation">
      </view>
      <view
            class="org.bpy.score.rcp.view.GeneralStatisitcView"
            id="org.bpy.score.rcp.view.GeneralStatisitcView"
            name="billboard">
      </view>
      <view
            class="org.bpy.score.rcp.view.GeneralDisplayPanelView"
            id="org.bpy.score.rcp.view.GeneralDisplayPanelView"
            name="Score box">
      </view>
      <view
            class="org.bpy.score.rcp.editor.ScoreSheetView"
            id="org.bpy.score.rcp.editor.ScoreSheetView"
            name="Score sheet">
      </view>
      <view
            class="org.bpy.score.rcp.view.VisitorScoreSheetView"
            id="org.bpy.score.rcp.view.VisitorGraphicalView"
            name="Visitor scoresheet">
      </view>
      <view
            class="org.bpy.score.rcp.view.HometeamScoreSheetView"
            id="org.bpy.score.rcp.view.HometeamScoreSheetView"
            name="Home team scoresheet">
      </view>
      <category
            id="org.bpy.score.rcp.navigator.category"
            name="Category">
      </category>
      <view
            class="org.bpy.score.rcp.navigator.TournamentNavigator"
            icon="icons/tournament.png"
            id="org.bpy.game.rcp.ui.navigator"
            name="Tournament navigator">
      </view>
      <view
            class="org.bpy.score.rcp.view.CurrentLineupView"
            id="org.bpy.score.rcp.currentlineup.view"
            name="Lineup actif"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="org.bpy.score.rcp.disable.maven"
            name="disableMaven">
         <enabledWhen>
            <with
                  variable="true">
               <equals
                     value="false">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.maven"
            pattern=".*/org.eclipse.m2e.core.wizards.Maven2ModuleWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.maven"
            pattern=".*/org.eclipse.m2e.core.wizards.Maven2ProjectWizard">
      </activityPatternBinding>
      <activity
            id="org.bpy.score.rcp.disable.pde"
            name="disablePDE">
         <enabledWhen>
            <with
                  variable="true">
               <equals
                     value="false">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.pde"
            pattern=".*/org.eclipse.pde.ui..*">
      </activityPatternBinding>
      <activity
            id="org.bpy.score.rcp.disable.ecore"
            name="disableEcore">
         <enabledWhen>
            <with
                  variable="true">
               <equals
                     value="false">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.ecore"
            pattern=".*/org.eclipse.emf.ecore.presentation.EcoreModelWizardID">
      </activityPatternBinding>
      <activity
            id="org.bpy.score.rcp.disable.java"
            name="disableJava">
         <enabledWhen>
            <with
                  variable="true">
               <equals
                     value="false">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.java"
            pattern=".*/org.eclipse.ant.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.java"
            pattern=".*/org.eclipse.jdt.ui.wizards.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.java"
            pattern=".*/org.eclipse.jdt.ui.PackageExplorer.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.java"
            pattern=".*/org.eclipse.jdt.debug.ui.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.java"
            pattern=".*/org.eclipse.jdt.launching.remoteJavaApplication.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.java"
            pattern=".*/org.eclipse.jdt.launching.localJavaApplication.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.java"
            pattern=".*/org.eclipse.jdt.junit.wizards.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.java"
            pattern=".*/org.eclipse.jdt.launching.javaApplet.*">
      </activityPatternBinding>
<!-- BPY -->      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.java"
            pattern=".*/org.eclipse.jdt.ui.*">
      </activityPatternBinding><!-- BPY -->
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.java"
            pattern=".*/org.eclipse.jdt.ui.actions.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.java"
            pattern=".*/org.eclipse.jdt.ui.actions.OpenJavaSearchPage">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.java"
            pattern=".*/org.eclipse.jdt.internal.ui.jarpackager.JarPackageWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.java"
            pattern=".*/org.eclipse.jdt.internal.ui.fatjarpackager.JarPackageWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.java"
            pattern=".*/org.eclipse.jdt.internal.ui.javadocexport.JavadocWizard">
      </activityPatternBinding>
      <activity
            id="org.bpy.score.rcp.disable.mwe"
            name="DisableMWE">
         <enabledWhen>
            <with
                  variable="true">
               <equals
                     value="false">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.mwe"
            pattern=".*/org.eclipse.emf.mwe2.launch.Mwe2LaunchConfigurationType.*">
      </activityPatternBinding>
      <activity
            id="org.bpy.score.rcp.disable.debug.core"
            name="DisableDebugCore">
         <enabledWhen>
            <with
                  variable="true">
               <equals
                     value="false">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.debug.core"
            pattern=".*/org.eclipse.debug.*">
      </activityPatternBinding>

      <activity
            id="org.bpy.score.rcp.disable.team"
            name="DisableTeam">
         <enabledWhen>
            <with
                  variable="true">
               <equals
                     value="false">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.team"
            pattern=".*/nonbound.org.eclipse.team.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.team"
            pattern=".*/org.eclipse.team.ui.showLocalHistory.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.team"
            pattern=".*/org.eclipse.team.ui.applyPatch.*">
      </activityPatternBinding>
      <activity
            id="org.bpy.score.rcp.pde"
            name="Disable PDE ">
      </activity>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.pde"
            pattern=".*/org.eclipse.pde.*">
      </activityPatternBinding>
      <activity
            id="org.bpy.score.rcp.disable.annotation"
            name="DisableAnnotation">
      </activity>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.disable.annotation"
            pattern=".*/org.eclipse.ui.edit..*Annotation.*">
      </activityPatternBinding>
      <activity
            id="org.bpy.score.rcp.externaltools"
            name="External tools">
      </activity>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.externaltools"
            pattern=".*/org.eclipse.ui.externalTools.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.externaltools"
            pattern=".*/org.eclipse.ui.externaltools.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.externaltools"
            pattern=".*/org.eclipse.ui.externaltool.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.externaltools"
            pattern=".*/org.eclipse.ui.externaltools.ExternalToolsSet">
      </activityPatternBinding>
      <activity
            id="org.bpy.score.rcp.importExport"
            name="Import Export">
      </activity>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.importExport"
            pattern=".*/org.eclipse.e4.ui.importer.wizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.importExport"
            pattern=".*/org.eclipse.ui.wizards.import.FileSystem">
      </activityPatternBinding>
<!--      <activityPatternBinding
            activityId="org.bpy.score.rcp.importExport"
            pattern=".*/org.eclipse.ui.wizards.import.ExternalProject">
      </activityPatternBinding>-->
<!--      <activityPatternBinding
            activityId="org.bpy.score.rcp.importExport"
            pattern=".*/org.eclipse.ui.wizards.import.ZipFile">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.importExport"
            pattern=".*/org.eclipse.ui.wizards.export.ZipFile">
      </activityPatternBinding>-->
      <activityPatternBinding
            activityId="org.bpy.score.rcp.importExport"
            pattern=".*/org.eclipse.m2e.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.importExport"
            pattern=".*/org.eclipse.ui.wizards.export.FileSystem">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.importExport"
            pattern=".*/org.eclipse.team.ui.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.bpy.score.rcp.importExport"
            pattern="org.eclipse.ui.wizards.export.ZipFile">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.bpy.score.rcp.decorators.FoldersDecorator"
            icon="icons/season.png"
            id="org.bpy.score.rcp.folder.decorator"
            label="folder decorator"
            objectClass="org.eclipse.core.resources.IFolder"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/tournament.png"
            id="org.bpy.score.tool.project.nature.image"
            natureId="org.bpy.score.rcp.projectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.bpy.score.rcp.categogry.wizards"
            name="Score game editor">
      </category>
      <wizard
            category="org.bpy.score.rcp.categogry.wizards"
            class="org.bpy.score.rcp.wizard.ScoreGameProjectNewWizard"
            finalPerspective="org.bpy.score.rcp.perspective"
            icon="icons/full/obj16/OpenTournamentFolder.png"
            id="org.bpy.score.rcp.new.project.wizard"
            name="Create a new tournament">
      </wizard>
   </extension>
   <extension
         id="navigator-viewbinding"
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
      </viewerContentBinding>
   </extension>
   <extension
         id="navigator-content"
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            id="org.bpy.score.rcp.navigatorContent1"
            labelProvider="org.bpy.score.rcp.decorators.FoldersDecorator"
            name="Project Explorer Decorator"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IFolder">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category=" org.bpy.score.rcp.scoreSheetTool"
            class="org.bpy.score.rcp.wizard.ImportTournamentWizard"
            icon="icons/IconTournament.jpg"
            id="org.bpy.score.rcp.wizard1"
            name="Import tournament">
      </wizard>
      <category
            id="org.bpy.score.rcp.scoreSheetTool"
            name="Score sheet">
      </category>
   </extension>
<!--   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.bpy.game.rcp.ui.navigator">
         <includes> -->
<!--            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.actions.RefactorActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.actions.RefactorActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.actions.CopyActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>-->
<!--         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.bpy.game.rcp.ui.navigator">
         <includes>
            <contentExtension
                  pattern="org.bpy.score.rcp.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="eclipse.ui.navigator.resources.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.bpy.score.rcp.navigator.ScoreToolProjectParent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.bpy.score.rcp.navigator.TournamentContentProvider"
            id="org.bpy.score.rcp.navigatorContent"
            labelProvider="org.bpy.score.rcp.navigator.TournamentLabelProvider"
            name="Tournament navigator content">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.bpy.score.rcp.navigator.ScoreToolProjectWorkbenchRoot">
               </instanceof>
               <instanceof
                     value="org.bpy.score.rcp.navigator.ScoreToolProjectParent">
               </instanceof>
            </or>
         </triggerPoints>
         <commonSorter
               class="org.bpy.score.rcp.navigator.TournamentViewerComparator"
               id="org.bpy.score.rcp.navigator.sorter">
         </commonSorter>
      </navigatorContent>
   </extension>-->
</plugin>
