<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="nl/fr/Manuel_utilisateur/Manuel Utilisateur.xml"
            primary="true">
      </toc>
      <toc
            file="nl/fr/ScoreSheet editor user guide.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
